@import "tailwindcss";

@theme {
  --color-grab-pink: #b21c8e;
  --color-grab-pink-light: #fde7f7;
  --color-grab-pink-border: #f7c5ec;
  --color-grab-purple: rgb(210, 57, 192);
  --color-grab-gray: #6b7280;
  --color-grab-gray-light: #f3f4f6;
  --color-grab-gray-border: #d1d5db;
}
